WYZE_EMAIL=your_wyze_email@example.com
WYZE_PASSWORD=your_wyze_password
WYZE_API_ID=your_wyze_api_id
WYZE_API_KEY=your_wyze_api_key

LOREX_USER=admin
LOREX_PASSWORD=your_lorex_password
LOREX_127_IP=192.168.x.x
LOREX_122_IP=192.168.x.x

EZVIZ_USER=admin
EZVIZ_78_IP=10.0.0.x
EZVIZ_78_PASSWORD=your_ezviz_78_password
EZVIZ_120_IP=10.0.0.x
EZVIZ_120_PASSWORD=your_ezviz_120_password

WYZE_RTSP_USER=your_wyze_rtsp_user
WYZE_RTSP_PASSWORD=your_wyze_rtsp_password
WYZE_126_IP=192.168.x.x
WYZE_105_IP=192.168.x.x

NAS_USER=your_nas_user
NAS_PASSWORD=your_nas_password
NAS_IP=192.168.x.x
NAS_SHARE_NAME=your_share_name
